@media screen and (max-width: 400px) {
    #block-sitebranding div.site-slogan {
        display: none;
    }
}

@media screen and (max-width: 400px) {
    .slider-wrapper {
        display: none;
    }

    #block-ssilkanablog {
        display: none;
    }
}

@media screen and (max-width: 650px) {
    .layout-region--right_above, layout-region--left_above{
        flex: none!important;
    }
}