/*пошукова форма*/
.search-block-form{
    /*float: left;*/
    margin: 20px 5em 10px 5em;
    width: 200px;
    display: inline-block;
    position: inherit;
    vertical-align: top;
}
.region-header-right {
    float: none;
}
/*телефон хедер*/
.phone-header{
    width: 200px;
    display: inline-block;
    right: 2em;
    margin: 0 5em;
    text-align: center;
}
/*мило хедер*/
.phone-header p {
    text-align:center;
    font-family:"Times New Roman",Times,serif;
    font-size: 1.5em;
    color: red;

}


/*title*/
#block-pagetitle {
    font-weight: 700;
    text-align: center;
    font-size:1.5em;
    margin: 20px;
    color: #0a9c0b;
}
/*title сторінка товару*/
#block-title {
    margin-bottom: 20px;
    font-size: 2.5em;
    text-align: center;

}

.views-field {
    margin: 10px;
    color: red;

}
/*текст в блоці главної сторінки*/
.field-content {
    color: grey;

}

.category-row {
    float: left;
    /*margin: 10px;*/

}
/*отображение на главній сторінці блоків*/
.views-row img {
    max-width: 90%;
}
.block-content, .credits {
    color: #005596;
}
#block-views-block-tehelektra-block-1 {
    margin-top: 100px;
}


.field__item + .field__item {
    display: inline-block;
}
.field__label {
    display: inline-block;
}
#block-sitebranding{
    display: inline-block;
}
/*телефон футер*/
#block-telefon-2 {
    /*float: right;*/
    margin-left: 20vw;
    margin-right: 3em;
    display: inline-block;
    text-align:center;
    font-family:"Times New Roman",Times,serif;
    font-size: 1.5em;
}
.copyright {
    display: inline-block;
    color: #005596;
}
.developer {
    margin-right: 5%;
    display: inline-block;
    float: right;
    color: #005596;
}
/*кнопка контактної форми*/
.use-ajax  {
    margin: 0 32%;
    padding: 0.7em 1em;
    border: 1px solid #666;

    display: inline-block;
    /*float: right;*/
    font-size: 130%;
    color: white;
    background: #0bb10d;
}
/*...при наведенні мишкою*/
.use-ajax:hover {
    background: #0de010;
    border: 1px solid #666;
}
.gm-style-pbc {
    width: 100px;
    border: 10px;
}
            /*Сторінка товару*/

/*кнопка контактної форми сторінки товара*/
.page-node-type-produkcia .use-ajax {
    margin: 0 ;
    padding: 0.7em 1em;
    border: 1px solid #666;
    font-size: 130%;
    color: white;
    background: #0bb10d;
}
/*...при наведенні мишкою*/
.page-node-type-produkcia .use-ajax:hover {
    background: #0de010;
    border: 1px solid #666;
}

/*cхожі товари*/
.related {
    display: inline-block;
    width: 22%;
    margin: 0 10px;
    font-size: 100%;
}
/*заголовок ʼсхожі товариʼ*/
.view-content .related .views-field-title .field-content {
    font-style: normal;
    line-height: 0;
    font-size: 1.8rem;
    color: #0a9c0b;
}
/*Розпродаж*/
.field--name-field-rozprodaz {
    text-align: center;
    color: orange;
    font-weight: 900;
    font-size: 2rem;
}
/*заголовки  на сторінці товару (ціна, виробники і тд)*/
.field__label {
    font-size: larger;
    color: #306f30;
}
/*ціна*/
.field--name-field-cina .field__item{
    margin: 15px 0;
    font-size: 2.5em;
    font-weight: 900;
    color: #94200b;
}
/*Категорія*/
.field--name-field-kategory .field__item {
    font-size: large;
}
/*виробник*/
.field--name-field-virobnik .field__item {
    font-size: large;
}
.view-virobniki .view-content .views-field {
    margin: 0;
}

/*файл опису*/
 .file--text{
    font-size: 1.5em;
 }
 /*фото*/

/*сторінка розпродаж*/
.view-rozprodaz {
    display: inline-block;
}
/*сторінка контенту*/
.view-content .views-row {
    display: inline-block;
}
/*logo*/
.block-content #logo .site-logo img {
    height: 100px;
}

/*logo*/
@media screen and (max-width: 500px) {
    .block-content #logo .site-logo img {
        height: 75px;
    }
}
/*назва сайта*/
@media screen and (min-width: 350px) {
    #sitename {
        text-align: center;
        color: #005d01;
        font-size: x-large;
        font-family: "Times New Roman", Times, serif;
        vertical-align: bottom;
        margin-top: 20px;
        word-wrap: break-word;
        width: 200px;
    }
}
/*слоган*/
@media screen and (max-width: 350px){
    #sitename {
        text-align: center;
        font-size: large;
        font-family:"Times New Roman",Times,serif;
        /*vertical-align: bottom;*/
        margin-top: 10px;
        word-wrap: break-word;
        width: 150px;}
}
/*отображение правого меню */
@media screen and (max-width: 1000px) {
    #sidebar-second {
        display: none;
    }
}
@media screen and (max-width: 580px) {
    .image-style-_0-80 {
        width: 50px;
        height: 50px;
    }
}